Trigger - Marketing Request with ConsentsIIC.json
{
  "name": "Trigger - Marketing Request with Consents",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6ceb624d-693a-4a81-a309-850116eab2ca",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        -48
      ],
      "webhookId": "marketing-request-webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "edf621e5-07b5-4d98-a6b6-63ba2689696b",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -432,
        -48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tenantId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.userId }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.instruction }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ Number($json.channelsNormalized.length) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "leftValue": "={{ $json.requiresApproval }}",
              "operator": {
                "type": "boolean",
                "operation": "isNotEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3b81e996-acaf-448b-b889-d676931bd57b",
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Missing required fields', message: 'The request must include: tenantId, userId, instruction, channels, and requiresApproval' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "1abfd744-3fbb-4c14-a91e-4e46923201c2",
      "name": "Respond - Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -144,
        -304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e58109a-dd0a-43bc-a48a-a43cf2e0db51",
      "name": "Set Validated Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -48,
        -32
      ],
      "notes": "Preserva tenantId y userId en el nivel raíz para que el HTTP Request pueda leerlos. También crea validatedData con todos los datos."
    },
    {
      "parameters": {
        "url": "https://autonomousmarketingplatform.onrender.com/api/ConsentsApi/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $json.body.tenantId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.body.userId }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "d050139a-16f4-44a2-a3b8-e928d7190682",
      "name": "HTTP Request - Check Consents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "aiConsent",
              "value": "={{ Boolean($json.aiConsent ?? $json.AiConsent ?? $json.data?.aiConsent ?? $json.data?.AiConsent ?? false) }}",
              "type": "boolean"
            },
            {
              "name": "publishingConsent",
              "value": "={{ Boolean($json.publishingConsent ?? $json.PublishingConsent ?? $json.data?.publishingConsent ?? $json.data?.PublishingConsent ?? false) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "c75b9874-1308-41bb-b83e-174cd9312543",
      "name": "Normalize Consents",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        352,
        -128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.aiConsent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.publishingConsent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f06cf01b-f127-41b9-8063-f2397d1b5034",
      "name": "Validate Consents",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        -400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success:false, error:'Missing consents', message:'User does not have required consents to proceed', aiConsent:$json.aiConsent, publishingConsent:$json.publishingConsent } }}",
        "options": {}
      },
      "id": "4bd2116c-ac5c-4fa7-86f3-d14a5d91ac2a",
      "name": "Respond - Consent Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        736,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success:true, message:'Request validated successfully and consents verified', data:{ tenantId:$json.tenantId, userId:$json.userId, campaignId:$json.campaignId, instruction:$json.instruction, channels:$json.channels, assets:$json.assets, requiresApproval:$json.requiresApproval, validatedData:$json.validatedData, consents:{ aiConsent:$json.aiConsent, publishingConsent:$json.publishingConsent }, validatedAt:$now, requestId:$json.validatedData.requestId } } }}",
        "options": {}
      },
      "id": "bad4c5fd-dfb8-4ae8-9e8a-b482368da7c8",
      "name": "Respond - Final Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        160
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Respond - Validation Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Validated Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Validated Data": {
      "main": [
        [
          {
            "node": "HTTP Request - Check Consents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Check Consents": {
      "main": [
        [
          {
            "node": "Normalize Consents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Consents": {
      "main": [
        [
          {
            "node": "Validate Consents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Consents": {
      "main": [
        [
          {
            "node": "Respond - Consent Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Final Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ec020e4d-5b91-4129-82b1-48d9d8699d4d",
  "meta": {
    "instanceId": "4856b50c573e21e6444e6cfbe31d68cbd351a64a6dfd678ed9d49fed40a66d4a"
  },
  "id": "w5DYOoa0PeWcTepQ",
  "tags": [
    {
      "updatedAt": "2025-12-30T14:37:04.786Z",
      "createdAt": "2025-12-30T14:37:04.786Z",
      "id": "FvrACFYopEDXTtxM",
      "name": "Trigger"
    },
    {
      "updatedAt": "2025-12-30T14:37:04.765Z",
      "createdAt": "2025-12-30T14:37:04.765Z",
      "id": "JfnZMQSUzWNavfeb",
      "name": "Marketing Automation"
    }
  ]
}