workflows/n8n/03-load-marketing-memory.json
{
  "name": "Load Marketing Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "load-marketing-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-memory",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "load-marketing-memory-webhook",
      "notes": "Recibe tenantId para cargar la memoria de marketing del tenant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-tenant-id",
              "name": "tenantId",
              "value": "={{ $json.body.tenantId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-tenant-id",
      "name": "Extract tenantId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300],
      "notes": "Extrae tenantId del payload"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:56610' }}/api/memory/context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tenantId",
              "value": "={{ $json.tenantId }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-request-memory",
      "name": "HTTP Request - Get Memory Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "notes": "Consulta al backend para obtener el contexto de memoria del tenant"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-preferred-tone",
              "name": "preferredTone",
              "value": "={{ $json.preferences?.preferredTone || 'profesional' }}",
              "type": "string"
            },
            {
              "id": "assign-disliked-formats",
              "name": "dislikedFormats",
              "value": "={{ $json.preferences?.dislikedFormats || [] }}",
              "type": "array"
            },
            {
              "id": "assign-best-performing-channels",
              "name": "bestPerformingChannels",
              "value": "={{ $json.learnings?.bestPerformingChannels || [] }}",
              "type": "array"
            },
            {
              "id": "assign-restrictions",
              "name": "restrictions",
              "value": "={{ $json.restrictions || [] }}",
              "type": "array"
            },
            {
              "id": "assign-normalized-memory",
              "name": "normalizedMemory",
              "value": "={{ { \"preferredTone\": $json.preferences?.preferredTone || 'profesional', \"dislikedFormats\": $json.preferences?.dislikedFormats || [], \"bestPerformingChannels\": $json.learnings?.bestPerformingChannels || [], \"restrictions\": $json.restrictions || [], \"userPreferences\": $json.userPreferences || [], \"recentConversations\": $json.recentConversations || [], \"campaignMemories\": $json.campaignMemories || [], \"learnings\": $json.learnings || {}, \"tenantId\": $('Extract tenantId').item.json.tenantId, \"loadedAt\": $now } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "normalize-memory",
      "name": "Normalize Memory Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300],
      "notes": "Normaliza la respuesta del backend a un formato estándar para n8n"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Marketing memory loaded successfully\", \"data\": $json.normalizedMemory } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Responde con éxito y la memoria normalizada"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Backend error\", \"message\": \"Failed to load marketing memory from backend\", \"details\": { \"statusCode\": $json.statusCode || \"unknown\", \"error\": $json.error || $json.message || \"Unknown error\" } } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - Backend Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 500],
      "notes": "Responde con error 500 si falla la consulta al backend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-data",
              "leftValue": "={{ $json.preferences !== undefined || $json.learnings !== undefined }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 400],
      "notes": "Verifica que la respuesta del backend contenga datos válidos"
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "Extract tenantId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract tenantId": {
      "main": [
        [
          {
            "node": "HTTP Request - Get Memory Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get Memory Context": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Respond - Backend Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Memory Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Memory Response": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "marketing-automation",
      "name": "Marketing Automation"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "memory",
      "name": "Memory"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

