workflows/n8n/08-build-marketing-pack.json
{
  "name": "Build Marketing Pack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-marketing-pack",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pack",
      "name": "Webhook - Receive Components",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "build-marketing-pack-webhook",
      "notes": "Recibe todos los componentes para construir el MarketingPack"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-strategy",
              "name": "strategy",
              "value": "={{ $json.body.strategy || {} }}",
              "type": "object"
            },
            {
              "id": "assign-copy",
              "name": "copy",
              "value": "={{ $json.body.copy || {} }}",
              "type": "object"
            },
            {
              "id": "assign-visual-prompts",
              "name": "visualPrompts",
              "value": "={{ $json.body.visualPrompts || {} }}",
              "type": "object"
            },
            {
              "id": "assign-media",
              "name": "media",
              "value": "={{ $json.body.media || [] }}",
              "type": "array"
            },
            {
              "id": "assign-channels",
              "name": "channels",
              "value": "={{ $json.body.channels || $json.body.strategy?.channels || [] }}",
              "type": "array"
            },
            {
              "id": "assign-tenant-id",
              "name": "tenantId",
              "value": "={{ $json.body.tenantId || $json.body.strategy?.metadata?.tenantId || '' }}",
              "type": "string"
            },
            {
              "id": "assign-user-id",
              "name": "userId",
              "value": "={{ $json.body.userId || '' }}",
              "type": "string"
            },
            {
              "id": "assign-campaign-id",
              "name": "campaignId",
              "value": "={{ $json.body.campaignId || $json.body.strategy?.metadata?.campaignId || null }}",
              "type": "string"
            },
            {
              "id": "assign-content-id",
              "name": "contentId",
              "value": "={{ $json.body.contentId || '' }}",
              "type": "string"
            },
            {
              "id": "assign-requires-approval",
              "name": "requiresApproval",
              "value": "={{ $json.body.requiresApproval !== undefined ? $json.body.requiresApproval : true }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-components",
      "name": "Extract All Components",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300],
      "notes": "Extrae todos los componentes necesarios para construir el MarketingPack"
    },
    {
      "parameters": {
        "jsCode": "// Ensamblar el MarketingPack completo\nconst components = $input.item.json;\nconst strategy = components.strategy || {};\nconst copy = components.copy || {};\nconst visualPrompts = components.visualPrompts || {};\nconst media = Array.isArray(components.media) ? components.media : [];\nconst channels = Array.isArray(components.channels) ? components.channels : [];\n\n// Generar ID único para el pack\nconst packId = require('crypto').randomUUID ? require('crypto').randomUUID() : \n  'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n\n// Construir la estrategia como texto estructurado\nconst strategyText = JSON.stringify({\n  mainMessage: strategy.mainMessage || '',\n  cta: strategy.cta || '',\n  recommendedFormat: strategy.recommendedFormat || 'post',\n  tone: strategy.tone || 'profesional',\n  targetAudience: strategy.targetAudience || '',\n  keyPoints: strategy.keyPoints || [],\n  suggestedSchedule: strategy.suggestedSchedule || {},\n  contentStructure: strategy.contentStructure || {}\n}, null, 2);\n\n// Construir metadatos completos\nconst metadata = {\n  tenantId: components.tenantId || '',\n  userId: components.userId || '',\n  campaignId: components.campaignId || null,\n  contentId: components.contentId || '',\n  channels: channels,\n  requiresApproval: components.requiresApproval !== undefined ? components.requiresApproval : true,\n  generatedAt: new Date().toISOString(),\n  version: 1,\n  strategy: strategy,\n  copy: copy,\n  visualPrompts: visualPrompts,\n  media: media\n};\n\n// Construir GeneratedCopies desde el copy\nconst generatedCopies = [];\n\n// Copy principal\nif (copy.longCopy) {\n  generatedCopies.push({\n    id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'copy-' + Date.now(),\n    copyType: 'long',\n    content: copy.longCopy,\n    hashtags: copy.hashtags ? copy.hashtags.join(', ') : null,\n    suggestedChannel: channels.length > 0 ? channels[0] : null,\n    publicationChecklist: {\n      hasCopy: true,\n      hasHashtags: (copy.hashtags || []).length > 0,\n      hasMedia: media.length > 0,\n      readyForPublication: true\n    }\n  });\n}\n\n// Copy corto\nif (copy.shortCopy) {\n  generatedCopies.push({\n    id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'copy-short-' + Date.now(),\n    copyType: 'short',\n    content: copy.shortCopy,\n    hashtags: copy.hashtags ? copy.hashtags.join(', ') : null,\n    suggestedChannel: channels.length > 0 ? channels[0] : null,\n    publicationChecklist: {\n      hasCopy: true,\n      hasHashtags: (copy.hashtags || []).length > 0,\n      hasMedia: media.length > 0,\n      readyForPublication: true\n    }\n  });\n}\n\n// Variantes A/B\nif (copy.variants) {\n  if (copy.variants.variantA) {\n    generatedCopies.push({\n      id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'copy-var-a-' + Date.now(),\n      copyType: 'variant-a',\n      content: copy.variants.variantA.longCopy || copy.variants.variantA.shortCopy || '',\n      hashtags: copy.variants.variantA.hashtags ? copy.variants.variantA.hashtags.join(', ') : null,\n      suggestedChannel: channels.length > 0 ? channels[0] : null,\n      publicationChecklist: {\n        hasCopy: true,\n        hasHashtags: (copy.variants.variantA.hashtags || []).length > 0,\n        isVariant: true,\n        variantType: 'A'\n      }\n    });\n  }\n  \n  if (copy.variants.variantB) {\n    generatedCopies.push({\n      id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'copy-var-b-' + Date.now(),\n      copyType: 'variant-b',\n      content: copy.variants.variantB.longCopy || copy.variants.variantB.shortCopy || '',\n      hashtags: copy.variants.variantB.hashtags ? copy.variants.variantB.hashtags.join(', ') : null,\n      suggestedChannel: channels.length > 0 ? channels[0] : null,\n      publicationChecklist: {\n        hasCopy: true,\n        hasHashtags: (copy.variants.variantB.hashtags || []).length > 0,\n        isVariant: true,\n        variantType: 'B'\n      }\n    });\n  }\n}\n\n// Construir MarketingAssetPrompts desde visualPrompts\nconst assetPrompts = [];\n\nif (visualPrompts.imagePrompt) {\n  assetPrompts.push({\n    id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'prompt-img-' + Date.now(),\n    assetType: 'image',\n    prompt: visualPrompts.imagePrompt,\n    negativePrompt: null,\n    parameters: {\n      style: visualPrompts.imageStyle || 'professional',\n      aspectRatio: visualPrompts.aspectRatio || '1:1',\n      colorPalette: visualPrompts.colorPalette || [],\n      mood: visualPrompts.mood || 'professional',\n      ...(visualPrompts.technicalSpecs || {})\n    },\n    suggestedChannel: channels.length > 0 ? channels[0] : null\n  });\n}\n\nif (visualPrompts.videoPrompt) {\n  assetPrompts.push({\n    id: require('crypto').randomUUID ? require('crypto').randomUUID() : 'prompt-vid-' + Date.now(),\n    assetType: 'video',\n    prompt: visualPrompts.videoPrompt,\n    negativePrompt: null,\n    parameters: {\n      aspectRatio: visualPrompts.aspectRatio || '16:9',\n      colorPalette: visualPrompts.colorPalette || [],\n      mood: visualPrompts.mood || 'professional',\n      ...(visualPrompts.technicalSpecs || {})\n    },\n    suggestedChannel: channels.length > 0 ? channels[0] : null\n  });\n}\n\n// Construir el MarketingPack final\nconst marketingPack = {\n  id: packId,\n  tenantId: components.tenantId || '',\n  userId: components.userId || '',\n  contentId: components.contentId || '',\n  campaignId: components.campaignId || null,\n  strategy: strategyText,\n  status: components.requiresApproval ? 'Generated' : 'Ready',\n  version: 1,\n  metadata: JSON.stringify(metadata),\n  copies: generatedCopies,\n  assetPrompts: assetPrompts,\n  channels: channels,\n  media: media,\n  requiresApproval: components.requiresApproval !== undefined ? components.requiresApproval : true,\n  createdAt: new Date().toISOString(),\n  \n  // Información adicional para aprobación/publicación\n  approvalInfo: {\n    requiresApproval: components.requiresApproval !== undefined ? components.requiresApproval : true,\n    readyForApproval: true,\n    readyForPublication: !components.requiresApproval,\n    approvalChecklist: {\n      hasStrategy: !!strategy.mainMessage,\n      hasCopy: generatedCopies.length > 0,\n      hasVisualPrompts: assetPrompts.length > 0,\n      hasChannels: channels.length > 0,\n      hasMedia: media.length > 0\n    }\n  },\n  \n  // Información de publicación\n  publicationInfo: {\n    suggestedSchedule: strategy.suggestedSchedule || {},\n    publishFormats: copy.publishFormat || {},\n    channels: channels.map(channel => ({\n      name: channel,\n      copy: copy.publishFormat?.[channel] || copy.longCopy || '',\n      format: strategy.recommendedFormat || 'post',\n      ready: true\n    }))\n  }\n};\n\nreturn marketingPack;"
      },
      "id": "build-pack",
      "name": "Build Marketing Pack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Ensambla todos los componentes en un MarketingPack estructurado listo para aprobación/publicación"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-marketing-pack",
              "name": "marketingPack",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "structure-pack",
      "name": "Structure Marketing Pack Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 300],
      "notes": "Estructura la respuesta final del MarketingPack"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Marketing pack built successfully\", \"data\": $json.marketingPack } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Responde con éxito y el MarketingPack completo"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Marketing pack build error\", \"message\": \"Failed to build marketing pack\", \"details\": { \"error\": $json.error || $json.message || \"Unknown error\" } } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500],
      "notes": "Responde con error si falla la construcción del pack"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-strategy",
              "leftValue": "={{ $json.strategy !== undefined }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "condition-has-copy",
              "leftValue": "={{ $json.copy !== undefined }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-components",
      "name": "Validate Required Components",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 400],
      "notes": "Valida que existan los componentes mínimos requeridos"
    }
  ],
  "connections": {
    "Webhook - Receive Components": {
      "main": [
        [
          {
            "node": "Extract All Components",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract All Components": {
      "main": [
        [
          {
            "node": "Validate Required Components",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Components": {
      "main": [
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Marketing Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Marketing Pack": {
      "main": [
        [
          {
            "node": "Structure Marketing Pack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Marketing Pack Response": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "marketing-automation",
      "name": "Marketing Automation"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "pack-building",
      "name": "Pack Building"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

