workflows/n8n/09-human-approval-flow.json
{
  "name": "Human Approval Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "human-approval-flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-approval",
      "name": "Webhook - Receive Marketing Pack",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "human-approval-flow-webhook",
      "notes": "Recibe el MarketingPack para procesar el flujo de aprobación"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-marketing-pack",
              "name": "marketingPack",
              "value": "={{ $json.body.marketingPack || $json.body.data || $json.body }}",
              "type": "object"
            },
            {
              "id": "assign-requires-approval",
              "name": "requiresApproval",
              "value": "={{ $json.body.marketingPack?.requiresApproval !== undefined ? $json.body.marketingPack.requiresApproval : ($json.body.data?.requiresApproval !== undefined ? $json.body.data.requiresApproval : ($json.body.requiresApproval !== undefined ? $json.body.requiresApproval : true)) }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-pack",
      "name": "Extract Marketing Pack",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300],
      "notes": "Extrae el MarketingPack y el flag requiresApproval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-requires-approval",
              "leftValue": "={{ $json.requiresApproval }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-approval",
      "name": "Check Requires Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Verifica si el pack requiere aprobación humana"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:56610' }}/api/marketing-packs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"id\": $json.marketingPack.id || null, \"tenantId\": $json.marketingPack.tenantId, \"userId\": $json.marketingPack.userId, \"contentId\": $json.marketingPack.contentId, \"campaignId\": $json.marketingPack.campaignId || null, \"strategy\": $json.marketingPack.strategy, \"status\": \"RequiresApproval\", \"version\": $json.marketingPack.version || 1, \"metadata\": $json.marketingPack.metadata, \"copies\": $json.marketingPack.copies || [], \"assetPrompts\": $json.marketingPack.assetPrompts || [] } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-save-pack",
      "name": "HTTP Request - Save Pack to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 200],
      "notes": "Envía el MarketingPack al backend con estado RequiresApproval"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Marketing pack sent for approval\", \"data\": { \"packId\": $json.id || $('HTTP Request - Save Pack to Backend').item.json.id, \"status\": \"RequiresApproval\", \"requiresApproval\": true, \"message\": \"Pack has been saved and is waiting for human approval\", \"nextStep\": \"approval\" } } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-approval-required",
      "name": "Respond - Approval Required",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200],
      "notes": "Responde indicando que el pack requiere aprobación y el flujo se detiene"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-pack-ready",
              "name": "marketingPack",
              "value": "={{ $json.marketingPack }}",
              "type": "object"
            },
            {
              "id": "assign-continue",
              "name": "continueToPublish",
              "value": "={{ true }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-for-publish",
      "name": "Prepare for Publication",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [850, 400],
      "notes": "Prepara el pack para continuar con la publicación"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Marketing pack ready for publication\", \"data\": { \"packId\": $json.marketingPack.id, \"status\": \"Ready\", \"requiresApproval\": false, \"message\": \"Pack does not require approval, ready to publish\", \"nextStep\": \"publish\", \"marketingPack\": $json.marketingPack } } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-ready-to-publish",
      "name": "Respond - Ready to Publish",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400],
      "notes": "Responde indicando que el pack está listo para publicación y el flujo continúa"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Backend error\", \"message\": \"Failed to save marketing pack to backend\", \"details\": { \"statusCode\": $json.statusCode || \"unknown\", \"error\": $json.error || $json.message || \"Unknown error\" } } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-backend-error",
      "name": "Respond - Backend Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 100],
      "notes": "Responde con error si falla el guardado en el backend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-http-success",
              "leftValue": "={{ $json.statusCode || $json.id !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-backend-response",
      "name": "Check Backend Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Verifica que el backend haya guardado el pack correctamente"
    }
  ],
  "connections": {
    "Webhook - Receive Marketing Pack": {
      "main": [
        [
          {
            "node": "Extract Marketing Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Marketing Pack": {
      "main": [
        [
          {
            "node": "Check Requires Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Requires Approval": {
      "main": [
        [
          {
            "node": "HTTP Request - Save Pack to Backend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare for Publication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Save Pack to Backend": {
      "main": [
        [
          {
            "node": "Check Backend Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Backend Response": {
      "main": [
        [
          {
            "node": "Respond - Backend Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Approval Required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Publication": {
      "main": [
        [
          {
            "node": "Respond - Ready to Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "marketing-automation",
      "name": "Marketing Automation"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "approval",
      "name": "Approval"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "workflow-control",
      "name": "Workflow Control"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

