workflows/n8n/11-metrics-learning.json
{
  "name": "Metrics & Learning",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "metrics-learning",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-metrics",
      "name": "Webhook - Receive Results",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "metrics-learning-webhook",
      "notes": "Recibe resultados del proceso completo para guardar métricas y aprendizajes"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-tenant-id",
              "name": "tenantId",
              "value": "={{ $json.body.tenantId || $json.body.data?.tenantId || '' }}",
              "type": "string"
            },
            {
              "id": "assign-campaign-id",
              "name": "campaignId",
              "value": "={{ $json.body.campaignId || $json.body.data?.campaignId || null }}",
              "type": "string"
            },
            {
              "id": "assign-marketing-pack-id",
              "name": "marketingPackId",
              "value": "={{ $json.body.marketingPackId || $json.body.data?.marketingPackId || null }}",
              "type": "string"
            },
            {
              "id": "assign-publishing-job-id",
              "name": "publishingJobId",
              "value": "={{ $json.body.publishingJobId || $json.body.data?.publishingJobId || null }}",
              "type": "string"
            },
            {
              "id": "assign-channel",
              "name": "channel",
              "value": "={{ $json.body.channel || $json.body.data?.channel || '' }}",
              "type": "string"
            },
            {
              "id": "assign-metrics",
              "name": "metrics",
              "value": "={{ $json.body.metrics || $json.body.data?.metrics || {} }}",
              "type": "object"
            },
            {
              "id": "assign-learning",
              "name": "learning",
              "value": "={{ $json.body.learning || $json.body.data?.learning || '' }}",
              "type": "string"
            },
            {
              "id": "assign-context",
              "name": "context",
              "value": "={{ $json.body.context || $json.body.data?.context || {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-results",
      "name": "Extract Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300],
      "notes": "Extrae los resultados del proceso para procesar métricas y aprendizajes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:56610' }}/api/metrics/campaign",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"tenantId\": $json.tenantId, \"campaignId\": $json.campaignId, \"metricDate\": new Date().toISOString().split('T')[0], \"impressions\": $json.metrics.impressions || 0, \"clicks\": $json.metrics.clicks || 0, \"likes\": $json.metrics.likes || 0, \"comments\": $json.metrics.comments || 0, \"shares\": $json.metrics.shares || 0, \"source\": $json.metrics.source || 'n8n', \"notes\": $json.metrics.notes || 'Initial metrics from automated publishing' } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-campaign-metrics",
      "name": "HTTP Request - Save Campaign Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200],
      "notes": "Guarda métricas iniciales de la campaña"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:56610' }}/api/metrics/publishing-job",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"tenantId\": $json.tenantId, \"publishingJobId\": $json.publishingJobId, \"metricDate\": new Date().toISOString().split('T')[0], \"impressions\": $json.metrics.impressions || 0, \"clicks\": $json.metrics.clicks || 0, \"likes\": $json.metrics.likes || 0, \"comments\": $json.metrics.comments || 0, \"shares\": $json.metrics.shares || 0, \"source\": $json.metrics.source || 'n8n', \"notes\": $json.metrics.notes || 'Initial metrics from automated publishing' } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-job-metrics",
      "name": "HTTP Request - Save Job Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "notes": "Guarda métricas iniciales del publishing job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:56610' }}/api/memory/save",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"tenantId\": $json.tenantId, \"campaignId\": $json.campaignId, \"memoryType\": 'Learning', \"content\": $json.learning || 'Automated publishing completed successfully', \"context\": { \"channel\": $json.channel, \"marketingPackId\": $json.marketingPackId, \"publishingJobId\": $json.publishingJobId, \"metrics\": $json.metrics, ...($json.context || {}) }, \"tags\": ['automated', 'publishing', $json.channel || 'general'], \"relevanceScore\": 7 } }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "save-learning",
      "name": "HTTP Request - Save Learning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "notes": "Guarda aprendizaje en memoria de marketing"
    },
    {
      "parameters": {
        "jsCode": "// Consolidar resultados de todas las operaciones\nconst results = $input.all();\nconst extractData = $('Extract Results').item.json;\n\nconst metricsResult = results.find(r => r.json.id || r.json.campaignId) || null;\nconst jobMetricsResult = results.find(r => r.json.publishingJobId) || null;\nconst memoryResult = results.find(r => r.json.id && r.json.memoryType) || null;\n\nreturn {\n  tenantId: extractData.tenantId,\n  campaignId: extractData.campaignId,\n  marketingPackId: extractData.marketingPackId,\n  publishingJobId: extractData.publishingJobId,\n  channel: extractData.channel,\n  metricsSaved: metricsResult !== null,\n  jobMetricsSaved: jobMetricsResult !== null,\n  learningSaved: memoryResult !== null,\n  metricsId: metricsResult?.json.id || null,\n  jobMetricsId: jobMetricsResult?.json.id || null,\n  memoryId: memoryResult?.json.id || null,\n  success: true,\n  message: 'Metrics and learning saved successfully'\n};"
      },
      "id": "consolidate-results",
      "name": "Consolidate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Consolida los resultados de todas las operaciones"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Metrics and learning saved successfully\", \"data\": $json } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Responde con éxito y los resultados consolidados"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Metrics and learning error\", \"message\": \"Failed to save metrics or learning\", \"details\": { \"error\": $json.error || $json.message || \"Unknown error\" } } }}",
        "options": {
          "responseCode": 500,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500],
      "notes": "Responde con error si falla el guardado"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-has-tenant",
              "leftValue": "={{ $json.tenantId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-data",
      "name": "Validate Data",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 500],
      "notes": "Valida que existan los datos mínimos requeridos"
    }
  ],
  "connections": {
    "Webhook - Receive Results": {
      "main": [
        [
          {
            "node": "Extract Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Results": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Save Campaign Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Save Job Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Save Learning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Save Campaign Metrics": {
      "main": [
        [
          {
            "node": "Consolidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Save Job Metrics": {
      "main": [
        [
          {
            "node": "Consolidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Save Learning": {
      "main": [
        [
          {
            "node": "Consolidate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Results": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "marketing-automation",
      "name": "Marketing Automation"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "metrics",
      "name": "Metrics"
    },
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "learning",
      "name": "Learning"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

